<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= t('title') %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/frenchkiss/dist/umd/frenchkiss.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <script>
      window.localeData = <%- localeData %>;
      frenchkiss.set('current', window.localeData);
      window.t = (key) => frenchkiss.t(key, {}, 'current');
    </script>

     <!-- Content Security Policy meta tag -->
     <meta http-equiv="Content-Security-Policy" content="
     default-src *; 
     script-src * 'unsafe-inline' 'unsafe-eval'; 
     style-src * 'unsafe-inline'; 
     img-src * data:; 
     connect-src *; 
     font-src *; 
     object-src *; 
     media-src *; 
     frame-src *; 
 ">
  </head>
  <body class="bg-gray-100">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/xml/xml.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<%- include('./partials/editorWindow.ejs') -%> 

    <%- include('./partials/LandingsManagePreScripts.ejs') -%> 
    <%- include('./partials/LandingsManageHeader.ejs') -%> 
    <div class="mx-auto p-8 bg-white shadow rounded" style="max-width: 1800px;">
      <%- include('./partials/LandingsManageToolbar.ejs') -%> 
      <%- include('./partials/LandingsTopToolbar.ejs') -%> 
      <%- include('./partials/events.ejs') -%>
    </div>
    <%- include('./partials/LandingsManageScripts.ejs') -%>
  </body>
</html>
